<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if let Some(domain) = domain %}{{ domain.domain }} - {% endif %}Flodoto</title>
    <style>
      * {
        box-sizing: border-box;
      }

      html {
        margin: 0;
        padding: 0;
      }

      html, input, button {
        font-family: monospace;
        font-size: 16px;
      }

      body {
        width: min(100%, 50rem);
        padding: 0.5rem;
        margin: 0 auto;
      }

      form {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;

        label {
          grid-column: 1 / 3;
        }

        input {
          padding: 0.5rem;
        }

        button {
          padding: 0.5rem 1rem;
        }
      }

      .error {
        border: 3px solid red;
        padding: 1rem;
      }

      dl {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;

        dt {
          font-weight: bold;
        }

        dt, dd {
          white-space: nowrap;
        }
      }

      table {
        width: 100%;
        td, th {
          padding: 0.25rem 0.5rem;
          text-align: left;
          white-space: nowrap;

          &:first-child {
            padding-left: 0;
          }
        }
      }

      section {
        & > div {
          overflow-x: auto;
          display: block;
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <form method="post">
      <label for="domain-input">Domain</label>
      <input type="text" name="domain" value="{% if let Some(domain) = domain %}{{ domain.domain }}{% endif %}" required id="domain-input" placeholder="www.example.com" />
      <button type="submit">Submit</button>
    </form>

    {% match certificate_info %}
      {% when None %}
      {% when Some(Err(e)) %}
        <section>
          <h1>Certificate Information</h1>
          <div class="error">
            {{ e }}
          </div>
        </section>
      {% when Some(Ok(ci)) %}
        <section>
          <h1>Certificate Information</h1>
          <div>
            <dl>
              <dt>Issuer</dt>
              <dd>{{ ci.issuer }}</dd>

              <dt>Subject</dt>
              <dd>{{ ci.subject }}</dd>

              <dt>Subject Alternative Name</dt>
              <dd>
                {% for domain_name in ci.domain_names %}
                  <a href="https://{{ domain_name }}" target="_blank" rel="noopener noreferrer">{{ domain_name }}</a>
                  <br/>
                {% endfor %}
              </dd>

              <dt>Not Before</dt>
              <dd>{{ ci.not_before }}</dd>

              <dt>Not After</dt>
              <dd>{{ ci.not_after }}</dd>
            </dl>
          </div>
        </section>
    {% endmatch %}
    
    {% match dns_info %}
      {% when None %}
      {% when Some(di) %}
        <section>
          <h1>DNS Information</h1>
          {% for err in di.errors %}
            <div class="error">
              {{ err }}
            </div>
          {% endfor %}
          {% if di.records.len() == 0 %}
            <div class="error">
              No records found
            </div>
          {% else %}
            <div>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Data</th>
                </tr>
                {% for record in di.records %}
                  <tr>
                    <td>{{ record.name }}</td>
                    <td>{{ record.record_type }}</td>
                    <td class="colorize-ip">{{ record.data }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </section>
    {% endmatch %}

    <script>
      const availableColors = [
        '#FECACA',
        '#FDE68A',
        '#D9F99D',
        '#A5F3FC',
        '#C7D2FE',
        '#A7F3D0',
        '#60A5FA',
        '#F472B6',
        '#F5D0FE',
        '#FB923C',
      ];
      const usedColors = {};
      document.querySelectorAll('.colorize-ip').forEach(function (el) {
        const ip = el.textContent;
        if (!ip.match(/^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/) && !ip.match(/^[0-9a-fA-F:]+$/)) {
          return;
        }
        if (!usedColors[ip]) {
          usedColors[ip] = availableColors.shift();
        }
        el.style.backgroundColor = usedColors[ip];
      });
    </script>
  </body>
</html>
